
html { 
    background: url(../images/login_background.PNG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


form {
    border: 4px solid #4a1c09;
    background-color: #5b220bbd;
    border-radius: 15px;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    padding: 10px;
}

.lform {
    border: 2px solid black;
    border-radius: 10%;
}

.flex_buttons .lform {
    text-align: center; 
    margin-bottom: 5%;
}

button {
    width:80px;
}

.bth {
    text-decoration: none;
    color: white;
}

.flex_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_buttons .forgotP {
    text-decoration: none;
    color: white;
    border: none;
    background: none;
    font-size: 10px;
}

.login_button_decor {
    text-decoration: none;
    font-family:'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.719);
    color:  rgba(131, 29, 3, 0.815);;
}